






.section-footer {
    

    // @media screen and (max-width: 1199px) {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }
         @media screen and (min-width:768px) {
             display: flex;
             flex-wrap: wrap;
             justify-content: space-around;
             align-items: baseline;
         }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}

.container-section-footer {
    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
    
}


.strong-title-list {
    
    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}




.footer {
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-studio {
    color: var(--header-color);
}

.logo-footer {
    padding-top: 39px;
}

.address {
    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }


    @media screen and (min-width: 1200px) {
        display: block;
        margin-top: 20px;
    }

    
}

.address-linc {
    color: var(--header-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

.mail {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

.strong-title-media:not(:last-child) {
    margin-right: 10px;
}

.strong {
    color: var(--header-color);
    background-color: var(--footer-icon-color);
}

.strong-title {
    
    margin-right: auto;
    margin-left: auto;
    
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
        margin-bottom: 60px; 
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}

.strong-title-link {
    display: flex;
    margin-bottom: 20px;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--header-color);
}